@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.input-group {
    height: 28px;
}

.btn {
    text-shadow: none;
    background-image: none;
    height: 28px;
}

button.roll .btn-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
}

button.edit .edit-icon,
button.edit .edit-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-right: 5px;
}

.disabled :is(input, select) {
    pointer-events: none;
    background-color: var(--bs-secondary-bg);
}

.input-group-text {
    min-width: 150px;
}

.charactersheet {
    min-width: 1080px;
}

.charsheet .sheet-character,
.charsheet .sheet-attributes,
.charsheet .sheet-skills,
.charsheet .sheet-weapons,
.charsheet .sheet-combat {
    display: none;
}

.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="weapons"] ~ div.sheet-weapons,
.charsheet .sheet-tabstoggle[value="combat"] ~ div.sheet-combat {
    display: block;
}

.nav-pills {
    font-size: 14px;
}

.combat-weapon-details .editmode .damage-unit {
    width: 90%;
}

.combat-weapon-container {
    padding: 0;
    margin-bottom: 10px;
}

.combat-weapon-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bs-secondary-bg);
    font-size: 14px;
}

.combat-weapon-header .combat-weapon-header-component {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

.combat-weapon-button-container {
    margin: 0 0.5rem;
}

.sheet-rolltemplate-attack {
    margin-left: -40px;
    margin-top: 8px;
}
.withoutavatars .sheet-rolltemplate-attack {
    margin-left: -7px;
}

.sheet-rolltemplate-attack .sheet-container {
    border: 1px solid;
    border-color: var(--header-bg-color);
}

.sheet-rolltemplate-attack .sheet-header {
    background-color: var(--header-bg-color);
    text-align: left;
    color: var(--header-text-color);
    padding: 5px;
}
.sheet-rolltemplate-attack .sheet-title {
    font-size:1.1em;
}
.sheet-rolltemplate-attack .sheet-subtitle {
    font-size:.9em;
}

.sheet-rolltemplate-attack .sheet-container {
    --header-bg-color: rgba(112,32,130,1);
    --header-text-color: #FFF;
}
.sheet-rolltemplate-attack .sheet-container.sheet-color-red {
    --header-bg-color: #F00;
}
.sheet-rolltemplate-attack .sheet-container.sheet-color-green {
    --header-bg-color: #0F0;
    --header-text-color: #000;
}

.sheet-rolltemplate-attack .sheet-content {
    display: grid;
    background: #FFF;
    grid-template-columns: auto auto;
    line-height:1.4em;
}
.sheet-rolltemplate-attack .sheet-content > div {
    padding: 5px;
}

.sheet-rolltemplate-attack .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

.sheet-rolltemplate-attack .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-attack .sheet-content :nth-child(4n) {
    background:#EEE;
}

.sheet-rolltemplate-attack .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}
