@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

.input-group {
    height: 28px;
}

span.form-control {
    height: 28px;
}

.btn {
    text-shadow: none;
    background-image: none;
    height: 28px;
}

button .btn-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
}

button.edit .edit-icon {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin-right: 5px;
}

.disabled :is(input, select) {
    pointer-events: none;
    background-color: var(--bs-secondary-bg);
}

.input-group-text {
    min-width: 150px;
    padding: 0.375rem 0.25rem;
}

.sheet-darkmode .charactersheet {
    background-color: var(--dark-surface1);
}

.charactersheet {
    min-width: 1080px;
}

.charsheet .sheet-character,
.charsheet .sheet-attributes,
.charsheet .sheet-skills,
.charsheet .sheet-weapons,
.charsheet .sheet-combat {
    display: none;
}

.charsheet .sheet-tabstoggle[value="character"] ~ div.sheet-character,
.charsheet .sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.charsheet .sheet-tabstoggle[value="skills"] ~ div.sheet-skills,
.charsheet .sheet-tabstoggle[value="weapons"] ~ div.sheet-weapons,
.charsheet .sheet-tabstoggle[value="combat"] ~ div.sheet-combat {
    display: block;
}

.nav-pills {
    font-size: 14px;
}

.combat-weapon-details .editmode .damage-unit {
    width: 90%;
}

.combat-weapon-container {
    padding: 0;
    margin-bottom: 10px;
}

.combat-weapon-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--bs-secondary-bg);
    font-size: 14px;
}

.combat-weapon-header .combat-weapon-header-component {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
}

.combat-weapon-button-container {
    margin: 0 0.5rem;
}

.sheet-rolltemplate-attack {
    margin-left: -40px;
    margin-top: 8px;
}
.withoutavatars .sheet-rolltemplate-attack {
    margin-left: -7px;
}

.sheet-rolltemplate-attack .sheet-container {
    border: 1px solid;
    border-color: var(--header-bg-color);
}

.sheet-rolltemplate-attack .sheet-header {
    background-color: var(--header-bg-color);
    text-align: left;
    color: var(--header-text-color);
    padding: 5px;
}
.sheet-rolltemplate-attack .sheet-title {
    font-size:1.1em;
}
.sheet-rolltemplate-attack .sheet-subtitle {
    font-size:.9em;
}

.sheet-rolltemplate-attack .sheet-container {
    --header-bg-color: rgba(112,32,130,1);
    --header-text-color: #FFF;
}
.sheet-rolltemplate-attack .sheet-container.sheet-color-red {
    --header-bg-color: #F00;
}
.sheet-rolltemplate-attack .sheet-container.sheet-color-green {
    --header-bg-color: #0F0;
    --header-text-color: #000;
}

.sheet-rolltemplate-attack .sheet-content {
    display: grid;
    background: var(--banner-background);
    grid-template-columns: 1fr 2fr;
    line-height:1.4em;
}
.sheet-rolltemplate-attack .sheet-content > div {
    padding: 5px;
}

.sheet-rolltemplate-attack .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

.sheet-rolltemplate-attack .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-attack .sheet-content :nth-child(4n) {
    background:var(--primary-background-light);
}

.sheet-rolltemplate-attack .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}


.sheet-rolltemplate-check {
    margin-left: -40px;
    margin-top: 8px;
}
.withoutavatars .sheet-rolltemplate-check {
    margin-left: -7px;
}

.sheet-rolltemplate-check .sheet-container {
    border: 1px solid;
    border-color: var(--header-bg-color);
}

.sheet-rolltemplate-check .sheet-header {
    background-color: var(--header-bg-color);
    text-align: left;
    color: var(--header-text-color);
    padding: 5px;
}
.sheet-rolltemplate-check .sheet-title {
    font-size:1.1em;
}
.sheet-rolltemplate-check .sheet-subtitle {
    font-size:.9em;
}

.sheet-rolltemplate-check .sheet-container {
    --header-bg-color: rgba(112,32,130,1);
    --header-text-color: #FFF;
}
.sheet-rolltemplate-check .sheet-container.sheet-color-red {
    --header-bg-color: #F00;
}
.sheet-rolltemplate-check .sheet-container.sheet-color-green {
    --header-bg-color: #0F0;
    --header-text-color: #000;
}

.sheet-rolltemplate-check .sheet-content {
    display: grid;
    background:var(--banner-background);
    grid-template-columns: 1fr 2fr;
    line-height:1.4em;
}
.sheet-rolltemplate-check .sheet-content > div {
    padding: 5px;
}

.sheet-rolltemplate-check .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}

.sheet-rolltemplate-check .sheet-content :nth-child(4n+3),
.sheet-rolltemplate-check .sheet-content :nth-child(4n) {
    background:var(--primary-background-light);
}

.sheet-rolltemplate-check .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
}

.width-1 {
    width: 1%;
}
.width-2 {
    width: 2%;
}
.width-3 {
    width: 3%;
}
.width-4 {
    width: 4%;
}
.width-5 {
    width: 5%;
}
.width-6 {
    width: 6%;
}
.width-7 {
    width: 7%;
}
.width-8 {
    width: 8%;
}
.width-9 {
    width: 9%;
}
.width-10 {
    width: 10%;
}
.width-11 {
    width: 11%;
}
.width-12 {
    width: 12%;
}
.width-13 {
    width: 13%;
}
.width-14 {
    width: 14%;
}
.width-15 {
    width: 15%;
}
.width-16 {
    width: 16%;
}
.width-17 {
    width: 17%;
}
.width-18 {
    width: 18%;
}
.width-19 {
    width: 19%;
}
.width-20 {
    width: 20%;
}
.width-21 {
    width: 21%;
}
.width-22 {
    width: 22%;
}
.width-23 {
    width: 23%;
}
.width-24 {
    width: 24%;
}
.width-25 {
    width: 25%;
}
.width-26 {
    width: 26%;
}
.width-27 {
    width: 27%;
}
.width-28 {
    width: 28%;
}
.width-29 {
    width: 29%;
}
.width-30 {
    width: 30%;
}
.width-31 {
    width: 31%;
}
.width-32 {
    width: 32%;
}
.width-33 {
    width: 33%;
}
.width-34 {
    width: 34%;
}
.width-35 {
    width: 35%;
}
.width-36 {
    width: 36%;
}
.width-37 {
    width: 37%;
}
.width-38 {
    width: 38%;
}
.width-39 {
    width: 39%;
}
.width-40 {
    width: 40%;
}
.width-41 {
    width: 41%;
}
.width-42 {
    width: 42%;
}
.width-43 {
    width: 43%;
}
.width-44 {
    width: 44%;
}
.width-45 {
    width: 45%;
}
.width-46 {
    width: 46%;
}
.width-47 {
    width: 47%;
}
.width-48 {
    width: 48%;
}
.width-49 {
    width: 49%;
}
.width-50 {
    width: 50%;
}
.width-51 {
    width: 51%;
}
.width-52 {
    width: 52%;
}
.width-53 {
    width: 53%;
}
.width-54 {
    width: 54%;
}
.width-55 {
    width: 55%;
}
.width-56 {
    width: 56%;
}
.width-57 {
    width: 57%;
}
.width-58 {
    width: 58%;
}
.width-59 {
    width: 59%;
}
.width-60 {
    width: 60%;
}
.width-61 {
    width: 61%;
}
.width-62 {
    width: 62%;
}
.width-63 {
    width: 63%;
}
.width-64 {
    width: 64%;
}
.width-65 {
    width: 65%;
}
.width-66 {
    width: 66%;
}
.width-67 {
    width: 67%;
}
.width-68 {
    width: 68%;
}
.width-69 {
    width: 69%;
}
.width-70 {
    width: 70%;
}
.width-71 {
    width: 71%;
}
.width-72 {
    width: 72%;
}
.width-73 {
    width: 73%;
}
.width-74 {
    width: 74%;
}
.width-75 {
    width: 75%;
}
.width-76 {
    width: 76%;
}
.width-77 {
    width: 77%;
}
.width-78 {
    width: 78%;
}
.width-79 {
    width: 79%;
}
.width-80 {
    width: 80%;
}
.width-81 {
    width: 81%;
}
.width-82 {
    width: 82%;
}
.width-83 {
    width: 83%;
}
.width-84 {
    width: 84%;
}
.width-85 {
    width: 85%;
}
.width-86 {
    width: 86%;
}
.width-87 {
    width: 87%;
}
.width-88 {
    width: 88%;
}
.width-89 {
    width: 89%;
}
.width-90 {
    width: 90%;
}
.width-91 {
    width: 91%;
}
.width-92 {
    width: 92%;
}
.width-93 {
    width: 93%;
}
.width-94 {
    width: 94%;
}
.width-95 {
    width: 95%;
}
.width-96 {
    width: 96%;
}
.width-97 {
    width: 97%;
}
.width-98 {
    width: 98%;
}
.width-99 {
    width: 99%;
}
.width-100 {
    width: 100%;
}
