<div class="sheet-baggage sheet-tab">
	<div class="row">
		<div class="col-12">
			<div class="fancy-border">
				<div class="input-group">
					<div class="input-group-prepend"><span class="input-group-text">Багаж</span></div>
					<textarea class="form-control" aria-label="Багаж" name="attr_baggage"></textarea>
				</div>
			</div>
		</div>
	</div>
</div>
