@model Models.CharacterManifest

@{
	Layout = null;
}

@await Html.PartialAsync("~/Views/Tabs.cshtml")
@await Html.PartialAsync("~/Views/Basic.cshtml", Model)
@await Html.PartialAsync("~/Views/Attributes.cshtml", Model.Attributes)
@await Html.PartialAsync("~/Views/Skills.cshtml", Model.Skills)
@await Html.PartialAsync("~/Views/Weapons.cshtml", Model.Weapons)
@await Html.PartialAsync("~/Views/Combat.cshtml", Model)
@await Html.PartialAsync("~/Views/Baggage.cshtml", Model)
@await Html.PartialAsync("~/Views/Notes.cshtml", Model)

@await Html.PartialAsync("~/Views/RollTemplates.cshtml")
@await Html.PartialAsync("~/Views/Scripts.cshtml", Model)

<button type="roll" class="tokenaction hidden" name="roll_⚡" value="&{template:check} {{title=@@{character_name}}} {{subtitle=Инициатива - Ловкость}} {{Roll=[[2d10 + @@{attribute_dexterity} + @@{attribute_dexterity_mod} + @@{global_check_mod} + @@{global_initiative_mod} &{tracker}]]}}"></button>
