@using Components.ViewModels
@model Models.CharacterManifest
@{
	const int CombatWeaponsCount = 5;
}
<div class="sheet-combat">
	<div class="row">
		<div class="col-6">
			<div class="fancy-border">
				@foreach (var combatWeapon in Enumerable.Range(1, CombatWeaponsCount).Select(p => new CombatWeapon { Index = p, Manifest = Model, Last = p == CombatWeaponsCount - 1}))
				{
					@await Html.PartialAsync("~/Views/CombatWeapon.cshtml", combatWeapon)
				}
			</div>
		</div>
		<div class="col-6">
			<div class="fancy-border">
				<div>
                	<div class="input-group mb-2">
                		<span class="input-group-text">Здоровье</span>
                		<input type="number" name="attr_hp" class="form-control"/>
                		<span name="attr_hp_max" class="form-control" readonly></span>
                		<button type="button" class='js-roll-potion heal-small btn btn-outline-danger' data-dice="1d4" data-name="hp" data-title="Малое зелье кровавика"><i class="btn-icon">&#xf06c</i></button>
                		<button type="button" class='js-roll-potion heal-medium btn btn-outline-danger' data-dice="1d8" data-name="hp" data-title="Среднее зелье кровавика"><i class="btn-icon">&#xf0c3</i></button>
                		<button type="button" class='js-roll-potion heal-large btn btn-outline-danger' data-dice="1d12" data-name="hp" data-title="Большое зелье кровавика"><i class="btn-icon">&#xe4f3</i></button>
                		<button type="button" class='js-roll-potion heal-giant btn btn-outline-danger' data-dice="1d16" data-name="hp" data-title="Гигантское зелье кровавика"><i class="btn-icon">&#xf0f9</i></button>
                	</div>
                	<div class="progress">
                		<div class="progress-bar bg-danger js-hp" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                	</div>
                </div>
                <div>
                	<div class="input-group mb-2">
                		<span class="input-group-text">Усталость</span>
                		<input type="number" name="attr_stamina" class="form-control"/>
                		<span name="attr_stamina_max" class="form-control" readonly></span>
                		<button type="button" class='js-roll-potion restore-small btn btn-outline-info' data-dice="1d4" data-name="stamina" data-title="Малое зелье Фархада"><i class="btn-icon">&#xf06c</i></button>
                		<button type="button" class='js-roll-potion restore-medium btn btn-outline-info' data-dice="1d8" data-name="stamina" data-title="Среднее зелье Фархада"><i class="btn-icon">&#xf0c3</i></button>
                		<button type="button" class='js-roll-potion restore-large btn btn-outline-info' data-dice="1d12" data-name="stamina "data-title="Большое зелье Фархада"><i class="btn-icon">&#xe4f3</i></button>
                		<button type="button" class='js-roll-potion restore-giant btn btn-outline-info' data-dice="1d16" data-name="stamina" data-title="Гигантское зелье Фархада"><i class="btn-icon">&#xf0f9</i></button>
                	</div>
                	<div class="progress">
                		<div class="progress-bar bg-info js-stamina" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                	</div>
                </div>
                <hr/>
                <div class="input-group mb-2">
                	<span class="input-group-text">КБ - Голова</span>
                	<input type="number" name="attr_armor_head" class="form-control" />
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">КБ - Торс</span>
                	<input type="number" name="attr_armor_body" class="form-control" />
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">КБ - Руки</span>
                	<input type="number" name="attr_armor_arms" class="form-control" />
                </div>
                <div class="input-group mb-2">
                	<span class="input-group-text">КБ - Ноги</span>
                	<input type="number" name="attr_armor_legs" class="form-control" />
                </div>
			</div>
		</div>
	</div>
</div>
