@using Components.ViewModels
@model Models.CharacterManifest
@{
	const int CombatWeaponsCount = 5;
}
<div class="sheet-combat">
	<div class="row">
		<div class="col-6">
			@foreach (var combatWeapon in Enumerable.Range(1, CombatWeaponsCount).Select(p => new CombatWeapon { Index = p, Manifest = Model }))
			{
				@await Html.PartialAsync("~/Views/CombatWeapon.cshtml", combatWeapon)
			}
		</div>
	</div>
</div>
