<div class="sheet-notes sheet-tab">
	<div class="row">
		<div class="col-12 fancy-border">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" data-i18n="bio">Bio</span></div>
				<textarea class="form-control" aria-label="Bio" name="attr_bio"></textarea>
			</div>
		</div>
		<div class="col-12 fancy-border">
			<div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text" data-i18n="abilities">Abilities</span></div>
              <textarea class="form-control" aria-label="Abilities" name="attr_abilities"></textarea>
            </div>
		</div>
		<div class="col-12 fancy-border">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text" data-i18n="notes">Notes</span></div>
				<textarea class="form-control" aria-label="Notes" name="attr_notes"></textarea>
			</div>
		</div>
	</div>
</div>
