<div class="sheet-notes sheet-tab">
	<div class="row">
		<div class="col-12 fancy-border">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Биография</span></div>
				<textarea class="form-control" aria-label="Биография" name="attr_bio"></textarea>
			</div>
		</div>
		<div class="col-12 fancy-border">
			<div class="input-group">
              <div class="input-group-prepend"><span class="input-group-text">Навыки</span></div>
              <textarea class="form-control" aria-label="Навыки" name="attr_abilities"></textarea>
            </div>
		</div>
		<div class="col-12 fancy-border">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text">Заметки</span></div>
				<textarea class="form-control" aria-label="Заметки" name="attr_notes"></textarea>
			</div>
		</div>
	</div>
</div>
